@import "partials/components";
@import "partials/user";
@import "partials/whatdo_dashboard";

/* General */
/* General */
.stackin-page {
    margin-top: 70px;
    z-index: 100;
}
.stackin-fullscreen-row {
    min-height: 87vh;
}










